@import 'about__text-part.scss';
    @import 'about__heading.scss';
    @import 'about__description.scss';
@import 'about__user-block.scss';
    @import 'about__userpic.scss';
    @import 'about__username.scss';
    @import 'about__job-position.scss';
    @import 'about__links.scss';

.about {
    background: url(../../assets/img/css-bg.jpg) center / cover no-repeat;
    padding: 5%;
}

.about__userpic {
	width: 100%;
    max-width: 340px;
}

.about__text-part {
    min-width: 50%;
    max-width: 60%;
}