.education__showcase {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;

    hr {
        width: 90%;
        height: 1px;
        background: silver;
        border: 0;
    }
}

.education__showcase * {
    background: $lightgrey;
}