.education__item {
    padding: 2rem;
    width: 100%;
}

/*
#item1.education__item {
    border-bottom: 1px solid silver;
    border-radius: 5px 5px 0 0;
}

#item2.education__item {
    border-top: 0px;
    border-radius: 0 0 5px 5px;
}

*/