.t-shadow {text-shadow: 1px 1px 6px black;}
.box-shadow {box-shadow: 0 2px 4px 0 rgba(50,50,93,.1);}

.t-blue {color: $blue;}
.t-grey {color: $grey;}
.t-darkblue {color: $darkblue;}

.bg-darkblue {background: $darkblue;}
.bg-navyblue {background: $navyblue;}
.bg-blue {background: $blue;}
.bg-silver {background: $silver;}
.bg-grey {background: $grey;}
.bg-lightgrey {background: $lightgrey;}

.t-align-center {
    text-align: center;
}
.t-align-justify {
    text-align: justify;
}

.container__centered {
    display: flex;
    justify-content: center;
}