.text-shadow {text-shadow: 1px 1px 6px black;}

.text-blue {color: $blue;}
.text-grey {color: $grey;}

.bg-darkblue {background: #181a36;}
.bg-blue {background: #2e4d8e;}
.bg-silver {background: #ecedee;}
.bg-grey {background: #3f444a;}