.t-shadow {text-shadow: 1px 1px 6px black;}

.t-blue {color: $blue;}
.t-grey {color: $grey;}

.bg-darkblue {background: $darkblue;}
.bg-navyblue {background: $navyblue;}
.bg-blue {background: $blue;}
.bg-silver {background: $silver;}
.bg-grey {background: $grey;}
.bg-lightgrey {background: $lightgrey;}

.t-align-center {
    text-align: center;
}
.t-align-justify {
    text-align: justify;
}

.container__centered-row {
    display: flex;
    justify-content: center;
}
.container__centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}