$fa-font-path: "../assets/webfonts";


$white: #ffffff;
$navyblue: #2e4d8e;
$darkblue: #181a36;
$blue: #4270d1;
$silver: #ecedee;
$grey: #3f444a;
$lightgrey: #dee0e1;

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
    color: $silver;
    // Fluid fonts
    font-size: calc(11px + .3vw);
}


*, *:before, *:after {
    box-sizing: border-box;
  }

body {
    min-height: 100%;
}