$fa-font-path: "../assets/webfonts";


$white: #ffffff;
$light-navy-blue: #2e4d8e;
$darkblue: #181a36;
$blue: #2699fb;
$silver: #ecedee;
$charcoal-grey: #3f444a;



html {
    @import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
}


*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    min-height: 100%;
}