.item-preview__content {
    max-width: 55%;
    margin: 0 auto;

    @media screen and (max-width: 1200px) {
        max-width: 70%;
    }

    @media screen and (max-width: 600px) {
        max-width: 90%;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        border-radius: 4px;
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
        background: none;
        color: #ecedee;
        font-size: 1.3rem;
        margin: 10px;
        cursor: pointer;

         &:hover {
             color: white;
         }
    }


    a {
        color: $silver;
        font-weight: bold;
        text-decoration: none;

        &:visited {color: $lightgrey;}

        p:hover {text-decoration: underline}
    }
    
}