.skills__showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 4px;
    padding: 1.5rem;
}

@media (max-width: 1024px) {

    .skills__showcase {
        min-width: 60%;
    }
}