.skills__showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 50%;
    max-width: 400px;
    border-radius: 4px;
    padding: 1.5rem;
}

@media (max-width: 480px) {

    .skills__showcase {
        max-width: 90%;
    }
 }