.skills__item {
    padding: 4px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 2px 4px 0px #b4b4b4;
    margin: 5px;
    background: #ffffff;

    span {
        font-size: 0.9rem;
    }
}


.skills__item:hover {
    box-shadow: 0 2px 4px 0px #6d6d6d;
    cursor: default;
}