@import 'my-works/my-works__showcase.scss';
@import 'my-works/my-works__button.scss';
@import 'my-works/my-works__button_color.scss';
@import 'my-works/my-works__item';

.my-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.my-works__showcase {
	display: flex;
    align-items: center;
    max-width: 100%;
    padding: 1rem;
}

