.menu__container {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    //transition: transform 1s ease;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0.65;
    filter: alpha(opacity=65);
}

