.menu__menu-button {
    position: fixed;
    font-size: 1.3rem;
    top: 0;
    left: 0;
    border: 0;
    background: 0;
    color: $silver;
    padding: 5px;
    margin: 5px 10px;
    z-index: 101;
    cursor: pointer;
    outline: none;
}