.menu__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    height: calc(100% / 5);
    background-color: rgba(0,0,0,.1);
    transition: all 0.5s ease-in-out;

    &:hover {
        background-color: rgba(133, 133, 133, 0.1);
    }

    span {
        display: block;
        color: $silver;
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
    }
}